<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Summer Market</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<h2>Add operation</h2>
<form method="get" th:action="@{/add}">
    <!--- Get [http://localhost:8189] /add?a=10&b=10  --->
    <input type="number" name="a">
    <input type="number" name="b">
    <button class="btn btn-primary" type="submit">ADD</button>
</form>
<h2>Subtract operation</h2>
<form method="get" th:action="@{/subtract}">
    <input type="number" name="a">
    <input type="number" name="b">
    <button class="btn btn-primary" type="submit">ADD</button>
</form>
<h2>Multiple operation</h2>
<form method="get" th:action="@{/multiple}">
    <input type="number" name="a">
    <input type="number" name="b">
    <button class="btn btn-primary" type="submit">ADD</button>
</form>
<h2>Divide operation</h2>
<form method="get" th:action="@{/divide}">
    <input type="number" name="a">
    <input type="number" name="b">
    <button class="btn btn-primary" type="submit">ADD</button>
</form>
</body>
</html>